h1 {
	font-family: "Imprint MT Shadow";
	font-size: 60px;
	font-weight: bold;
	color: #02818a;
}

h2 {
	font-family: "Imprint MT Shadow";
	font-size: 50px;
	font-weight: bold;
	color: #6e016b;
}

a {
	font-family: "Garamond";
	font-size: 25px;
	font-weight: bold;
	color: #02818a;
}

#warning {
	font-family: "Garamond";
	font-size: 30px;
	font-weight: bold;
	color: #ce1256;
}

#instruction {
	font-family: "Garamond";
	font-size: 18px;
	font-weight: bold;
	color: #02818a;
}

legend {
	font-family: "Garamond";
	font-size: 30px;
	font-weight: bold;
	color: #02818a;
}

label.year {
	font-family: "Garamond";
	font-size: 30px;
	font-weight: bold;
	color: #02818a;
}

label span {
	font-family: "Imprint MT Shadow";
	font-size: 40px;
	font-weight: bold;
	color: #6e016b;
}

#category, #group {
	font-family: "Garamond";
	font-weight: bold;
	font-size: 20px;
}

#donor select {
	font-family: "Garamond";
	font-weight: bold;
	font-size: 16px;
	width: 280px;
	height: 280px;
}

#recipient select {
	font-family: "Garamond";
	font-weight: bold;
	font-size: 16px;
	width: 280px;
	height: 280px;
}

button {
	font-family: "Garamond";
	font-size: 25px;
	font-weight: bold;
	color: #6e016b;
}